@media ( width: 768px ) {
    .navbar .container {
        flex-direction: column;
        align-items: center;
    }

    .nav-menu{
        width: 100%;
        text-align: center;
    }

    .nav-menu li{
        width: 100%;
        text-align: center;
        padding: 6px;
    }

    .banner-header{
        padding-top: 150px
    }

    .bannner-header-text{
        width: 80%;
    }

    .banner-title {
        font-size: 2rem;
    }
}